**/build
**/production
*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.log
*.o
*.so
*.swp
.DS_Store
.classpath
.externalToolBuilders
.gradle
.idea
.metadata
.project
.settings
.svn
Thumbs.db
build
bin
gen
import-summary.txt
lint.xml
local.properties
project.properties
